body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  /* padding: 0px 70px 0px 70px; */
}

body a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

/* HEADER AND FOOTERS */

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
}

@media (max-width: 626px) { 
 .filterNav button {
height: 30px !important;
width: 180px !important;
 }
}

/* Media query for mobile devices */
@media (min-width: 904px) { 
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 904px) {
  .mainNav {
    display: none; /* Hide on mobile devices */
  }
  html {
    margin-top: 0;
  }
  .bannerTitle img {
    max-height: 300px;
  }
  .bannerTitle {
    margin: 0;
    margin-top: -200px;
    font-size: 3em !important;
  }
  .headerPhoto img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }
  .headerPhoto  {
    height: 600px;
  }
  .filterNav {
    justify-content: center;
    flex-direction: column;
    justify-content:space-between;
    margin: 0 !important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
 .x-split-button3 {
  margin-left: 0px !important;
 }

  .galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    padding: 0px 20px 0px 20px !important;
  }
  #menu-menu-footer {
    display: flex;
    flex-direction: column !important;
    /* justify-content: center;
    /* margin-left: auto; */
    margin-left:-30px;
    text-align: center;
    padding: 0px !important;
  }
  .menu-menu-footer-container {
    display: flex;
    flex-direction: column !important;
     /* justify-items: center !important;
     justify-content: center !important;
    margin-left: -15px;
    margin-right: auto; */
    text-align: center; 
  }
}
@media (max-width: 1100px) {
  .filterNav button {
    height: 30px !important;
    width: 180px !important;
     }
}


.mainNav img {
  margin-left: 30px;
  width: 400px;
  height: auto;
}
.mainNav ul {
  text-transform: uppercase;
}
.main-menu {
  display: flex;
  flex-direction: row;
}
.main-menu li {
  margin-left: 20px;
  margin-right: 20px;
}

#menu-menu-footer {
  display: flex;
  flex-direction: row;
}

#menu-menu-footer li {
  margin-left: 20px;
  margin-right: 20px;
}

.galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 30px 0px 30px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-width: 2px 0 0 0; /* Top border only */
  border-color: black;
  border-style: solid;
  width: 100%;
  margin-top: 50px;
  position: absolute;
  left: 0;
  justify-content: center;
  text-transform: uppercase;
}

/* CONTAINER INDEX */

.headerPhoto img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
.headerPhoto {
  display: flex;
  justify-content: center;
  max-height: 90vh;
}

.bannerTitle {
  font-size: 7.5em;
  font-style: italic;
  font-weight: bold;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* MODAL CONTACT*/

.contactHeader {
  background-image: url(images/Contact_header.svg);
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 100px;
  z-index: 3000;
}

.wpforms-field-container input {
  font-family: inherit;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #a9a9a9;
  font-size: 1.1em;
  margin-top: 40px;
  height: 50px;
  width: 300px;
  /* padding: 14px 102px 14px 102px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.wpforms-field-container textarea {
  font-family: inherit;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #a9a9a9;
  font-size: 1.1em;
  margin-top: 40px;
  height:200px ;
  width: 300px;
  /* padding: 14px 102px 14px 102px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.wpforms-field-container div {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  padding: 14px 102px;
  text-align: center;
  margin: auto;
  width: 300px;
}

.wpforms-field-container label {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
}

.wpforms-submit-container button {
display: flex;
justify-content: center;

width: 300px;
}

.wpforms-hidden {
  visibility: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
 /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border: 4px solid #000000;
  padding-bottom: 50px;
  width: 600px; /* Could be more or less, depending on screen size */
}

#wpforms-submit-34 {
  font-family: inherit;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  margin-top: 40px;
  background-color: #bababa;
  padding: 14px 102px 14px 102px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  background-color: white;
  padding-left: 12px;
  padding-bottom: 4px;
  padding-right: 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 44px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.singlePostContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: 14%;
  margin-right: 14%;
}

.SinglePost-LeftGroupContainer h2 {
  font-size: 5em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  width: 50px;
  line-height: 0.9;
  margin-bottom: 32px;
}

.SinglePost-LeftGroupContainer {
  text-transform: uppercase;
  align-self: flex-end;
  border-bottom: 2px solid; /* Border at the bottom */
  width: 100%;
  padding-bottom: 20px;
  margin-right: 16px;
  margin-bottom: 4px;
}

.bottomPostBar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bottomPostBarLeft {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 14%;
}

.contactPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contactPost h4 {
  font-family: "Poppins", sans-serif;
}

#contactPostLink {
  background-color: #d6d6d6;
  padding: 14px 102px 14px 102px;
}

.grid-item img {
  height: 150px !important;
  width: 150px !important;
}

.nextPostPreview img {
  width: 88px !important;
  height: 76px !important;
}

.buttonToutesPhotos {
  display: flex;
  flex-direction: row;
}

.buttonAllPhoto {
  margin-top: 40px;
  background-color: #bababa;
  padding: 14px 102px 14px 102px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottomPostBarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  margin-right: 14%;
}
.bottomPostBarRightContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 88px;
}
.bottomPostBarRightArrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nextPostPreview {
  margin-bottom: 0px;
}

.nav-previous a {
  color: transparent;
margin-top: -20px;
}
.nav-next a {
  color: transparent;
margin-top: -20px;
}

.navigationButton {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  margin-top: -15px;
}

.navigationSinglePost a {
  padding: 10px 20px;
  margin-top: 40px;
  height: 50px;
  width: 50px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.navigationSinglePost a:hover {
  background-color: #0074b8;
}

/* *********************************************************/
/* @charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600); */

.contact-elements {
  position: relative;
  width: 100%;
}
input.input-field,
.tel-number-field,
.textarea-field,
.select-field {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.input-field:focus,
.tel-number-field:focus,
.textarea-field:focus,
.select-field:focus {
  border: 1px solid #0c0;
}

div.contact,
textarea,
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
}
.contact h2 {
  font-size: 50px;
}
.headline {
  font-size: 50px;
}
.center-btn {
  text-align: center;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background-color: #63a7d6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.row.body {
  padding: 0.5em 2.5em 1em;
}

.morePost,
.related-posts-grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-item {
  width: 40%; /* Each post takes 40% of the container's width */
  margin-bottom: 20px; /* Add spacing between posts */
  text-align: center; /* Center the content within the grid item */
}

.grid-item img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  margin: 0 auto;
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.grid-item-index {
  position: relative;
}

.grid-item-index img {
  height: 495px;
  width: 564px;
  object-fit: cover;
  margin: 6px;
}

.grid-related-item {
  height: 495px;
  width: 564px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  overflow: hidden;
  object-fit: cover;
}

.grid-related-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust as needed, e.g., 'contain' to fit within the square */
  top: 0;
  left: 0;
  transform: translate(0%, 0%); /* Center the image within the square */
}
.morePost {
  text-align: center;
  display: flex;
  max-width: 100%;
}

.morePost img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

.btn__wrapper {
  text-align: center;
}

.btn__wrapper a {
  font-family: inherit;
}

/* CSS FOR THE FILTER SPLIT BUTTON 1 */

.filterNav {
  display: flex;
  justify-content: space-between;
  /* max-width: 80%; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12%;
  margin-right: 16%;
}

.filterNav:hover {
  cursor: pointer;
}

.filterNav button {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 0px 12px 0px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-content: center; */
  width: 260px;
  height: 45px;
}

.filterNav ul {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 12px;
  /* padding: 0px 12px 0px 12px; */
  border-radius: 0px 0px 10px 10px;
  /* align-content: center; */
  width: 260px;
}

.filterNav li {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  height: 45px;
  /* align-content: center; */
}
/* 
.filterNav li .open {
  display: none;
} */

.filterNav li:hover {
  cursor: pointer;
  background: #ee0909;
  color: whitesmoke;
}

.filterNav a {
  padding-left: 12px;
  width: 260px;
  height: 45px;
  display: flex;
  align-items: center;
}

.filterFormat {
  margin-left: 30px;
}

button {
  cursor: pointer;
}

.filterLink:hover {
  color: white;
}

.filterType {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.filterTime {
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}

.x-split-button {
  position: relative;
  display: inline-block;
  text-align: left;
}

.x-button {
  position: relative;
  margin: 0;
  height: 43px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.x-button:active {
  background: #d3d3d3;
}

.x-button.x-button-drop {
  border-left: 0;
  height: 45px;
}

.open > .x-button-drop-menu {
  display: block;
}
.closeFilter {
  display: none;
}

.x-button-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

/* .x-button-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: arial;
  color: #444;
  text-decoration: none;
} */

/* .x-button-drop-menu li a:hover {
  background: #d3d3d3;
} */
/* END OF THE CSS FOR THE FILTER SPLIT BUTTON 1 */
/* CSS for the Filter Split Button 2 */
.x-split-button2 {
  position: relative;
  display: inline-block;
  text-align: left;
  /* margin-top: 20px; */
}

.x-button2 {
  position: relative;
  margin: 0;
  height: 30px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button2:hover {
  cursor: pointer;
  background: #e0e0e0;
}

/*
.x-button2:active {
  background: #d3d3d3;
} */

.x-button2.x-button-drop {
  border-left: 0;
  height: 30px;
}

.open > .x-button2-drop-menu {
  display: block;
}
/* .close > .x-button2-drop-menu {
  display: none;
} */

.x-button2-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

/* .x-button2-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #444;
  text-decoration: none;
} */

/* .x-button2-drop-menu li a:hover {
  background: #d3d3d3;
} */

/* CSS for the Filter Split Button 3 */
.x-split-button3 {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  /* margin-top: 20px; */
}

.x-button3 {
  position: relative;
  margin: 0;
  height: 30px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button3:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.x-button3:active {
  background: #d3d3d3;
}

.x-button3.x-button-drop {
  border-left: 0;
  height: 30px;
}

.open > .x-button3-drop-menu {
  display: block;
}
/* .close > .x-button2-drop-menu {
  display: none;
} */

.x-button3-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

/* .x-button3-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: Arial, sans-serif;
  color: #444;
  text-decoration: none;
}

.x-button3-drop-menu li a:hover {
  background: #d3d3d3;
} */

div.contact-elements p.pull-right {
  float: right;
}
div.contact-elements p.left {
  float: left;
}

.btn {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.74em 4em;
  color: #000000;
  border-width: 0 0 0 0;
  border-radius: 2px;
  /* text-transform: uppercase; */
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  box-shadow: 1px 1px 4px #ccc;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #63a7d6;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

.contact-elements {
  max-width: 100%;
  display: block;
}
.contact-elements ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-elements ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
.contact-elements ul li:last-child {
  margin: 0;
}
.contact-elements ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
.contact-elements ul li p.right {
  float: right;
}
.contact-elements ul li .divider {
  border: 0;
  margin-top: 60px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  background: #eaeaea;
  opacity: 0.5;
}
.contact-elements ul li,
.req {
  font-size: 15px;
  color: #63a7d6;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bolder;
}
.contact-elements label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
.contact-elements input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
.contact-elements textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
  resize: none;
  overflow: auto;
}
.contact-elements small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}



@media only screen and (max-width: 900px) {
  .div.contact-elements p.pull-right {
    float: none;
  }
  .center-btn {
    text-align: left;
  }
  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li,
  p {
    width: 100%;
  }

  input.btn {
    margin: 0 0 0.5em;
  }

  li small {
    display: none;
  }
}
