body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  /* padding: 0px 70px 0px 70px; */
}

body a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

/* HEADER AND FOOTERS */

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.mainNav img {
  margin-left: 30px;
  width: 400px;
  height: auto;
}
.mainNav ul {
  text-transform: uppercase;
}
.main-menu {
  display: flex;
  flex-direction: row;
}
.main-menu li {
  margin-left: 20px;
  margin-right: 20px;
}

#menu-menu-footer {
  display: flex;
  flex-direction: row;
}

#menu-menu-footer li {
  margin-left: 20px;
  margin-right: 20px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px;
  border-top-color: black;
  width: 100%;
  position: absolute;
  left: 0;
  justify-content: center;
  text-transform: uppercase;
}

/* CONTAINER INDEX */

.headerPhoto img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
.headerPhoto {
  display: flex;
  justify-content: center;
  max-height: 90vh;
}

.bannerTitle {
  font-size: 7.5em;
  font-style: italic;
  font-weight: bold;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* MODAL CONTACT*/

.wpforms-hidden {
  visibility: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.singlePostContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SinglePost-LeftGroupContainer {
  min-width: 45%;
}

.bottomPostBar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bottomPostBarLeft {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.contactPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#contactPostLink {
  background-color: #888;
  padding: 8px 82px 8px 82px;
}
.bottomPostBarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}
.bottomPostBarRightContent {
  display: flex;
  flex-direction: column;
}
.bottomPostBarRightArrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigationButton {
  display: flex;
  justify-content: space-between;
  margin: 0px 26px 0px 26px;
}

.navigationSinglePost a {
  padding: 10px 20px;
  margin-top: 40px;
  height: 50px;
  width: 50px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.navigationSinglePost a:hover {
  background-color: #0074b8;
}

/* *********************************************************/
/* @charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600); */

.contact-elements {
  position: relative;
  width: 100%;
}
input.input-field,
.tel-number-field,
.textarea-field,
.select-field {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.input-field:focus,
.tel-number-field:focus,
.textarea-field:focus,
.select-field:focus {
  border: 1px solid #0c0;
}

div.contact,
textarea,
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
}
.contact h2 {
  font-size: 50px;
}
.headline {
  font-size: 50px;
}
.center-btn {
  text-align: center;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background-color: #63a7d6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.row.body {
  padding: 0.5em 2.5em 1em;
}

.related-posts-grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  width: 40%; /* Each post takes 40% of the container's width */
  margin-bottom: 20px; /* Add spacing between posts */
  text-align: center; /* Center the content within the grid item */
}

.grid-item img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  margin: 0 auto;
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.grid-item-index {
  position: relative;
}

.grid-item-index img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.grid-related-item {
  height: 500px;
  width: 500px;
  margin-bottom: 20px; /* Add spacing between posts */
  text-align: center; /* Center the content within the grid item */
  object-fit: cover;
}
.grid-related-item {
  height: 500px;
  width: 500px;
  position: relative; /* Needed for absolute positioning of the image */
  margin-bottom: 20px; /* Add spacing between posts */
  text-align: center; /* Center the content within the grid item */
  overflow: hidden; /* Clip any image overflow */
}

.grid-related-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust as needed, e.g., 'contain' to fit within the square */
  top: 0;
  left: 0;
  transform: translate(0%, 0%); /* Center the image within the square */
}
.morePost {
  text-align: center;
}

.morePost img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.btn__wrapper {
  text-align: center;
}

/* CSS FOR THE FILTER SPLIT BUTTON 1 */

.filterNav {
  display: flex;
}

.filterTab {
  margin-left: 200px;
}

.x-split-button {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.x-button {
  position: relative;
  margin: 0;
  height: 30px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.x-button:active {
  background: #d3d3d3;
}

.x-button.x-button-drop {
  border-left: 0;
  height: 30px;
}

.open > .x-button-drop-menu {
  display: block;
}

.x-button-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: arial;
  color: #444;
  text-decoration: none;
}

.x-button-drop-menu li a:hover {
  background: #d3d3d3;
}
/* END OF THE CSS FOR THE FILTER SPLIT BUTTON 1 */
/* CSS for the Filter Split Button 2 */
.x-split-button2 {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.x-button2 {
  position: relative;
  margin: 0;
  height: 30px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button2:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.x-button2:active {
  background: #d3d3d3;
}

.x-button2.x-button-drop {
  border-left: 0;
  height: 30px;
}

.open > .x-button2-drop-menu {
  display: block;
}

.x-button2-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button2-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: Arial, sans-serif;
  color: #444;
  text-decoration: none;
}

.x-button2-drop-menu li a:hover {
  background: #d3d3d3;
}

/* CSS for the Filter Split Button 3 */
.x-split-button3 {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.x-button3 {
  position: relative;
  margin: 0;
  height: 30px;
  float: left;
  outline: none;
  line-height: 27px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button3:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.x-button3:active {
  background: #d3d3d3;
}

.x-button3.x-button-drop {
  border-left: 0;
  height: 30px;
}

.open > .x-button3-drop-menu {
  display: block;
}

.x-button3-drop-menu {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px #e0e0e0;
}

.x-button3-drop-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: Arial, sans-serif;
  color: #444;
  text-decoration: none;
}

.x-button3-drop-menu li a:hover {
  background: #d3d3d3;
}

div.contact-elements p.pull-right {
  float: right;
}
div.contact-elements p.left {
  float: left;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  box-shadow: 1px 1px 4px #ccc;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #63a7d6;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

.contact-elements {
  max-width: 100%;
  display: block;
}
.contact-elements ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-elements ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
.contact-elements ul li:last-child {
  margin: 0;
}
.contact-elements ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
.contact-elements ul li p.right {
  float: right;
}
.contact-elements ul li .divider {
  border: 0;
  margin-top: 60px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  background: #eaeaea;
  opacity: 0.5;
}
.contact-elements ul li,
.req {
  font-size: 15px;
  color: #63a7d6;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bolder;
}
.contact-elements label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
.contact-elements input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
.contact-elements textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
  resize: none;
  overflow: auto;
}
.contact-elements small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 900px) {
  .div.contact-elements p.pull-right {
    float: none;
  }
  .center-btn {
    text-align: left;
  }
  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li,
  p {
    width: 100%;
  }

  input.btn {
    margin: 0 0 0.5em;
  }

  li small {
    display: none;
  }
}
